@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
:root{
    --mainColor:#111818;
    --mainColorLight:#1a2424;
    --secondaryColor:#DB2B39;
    --textColor:#888;
}

body{
  background-color: #111818;
  overflow-x: hidden;
}

                    /* navbar */






                      /* Home page */
 




                        /* ABOUT */






  



                    /* Text Sphere */

















                /* WORKS */








 




                        /* CONTACT */

